<%- include('./partials/header.ejs') %>
    <div class="bucket">
        <div class="center"><h2 style="text-align: center;">ABOUT US<br>Welcome to "ArtDeck" Trade.</h2>
                <b>Find an unmatched collection of Paintings from international artists that will decorate your space.<br></b><br>
         </div>
    </div>  
<%- include('./partials/footer.ejs') %>
