<%- include('./partials/header.ejs') %>
    <div class="bucket">
        <div class="center"><h2 style="text-align: center;">Elevate your world with unique art.<br>Welcome to "ArtDeck" Trade. ArtDeck wants you to live with art.</h2>
            <p>Artists and designers are supported and encouraged by ArtDeck, which also gives them exposure abroad. <br>
            Our modern artists leave their mark by spreading their ideas of beauty, opening minds, and uniting people.<br><br>
            <b>OUR MOTTO: To help our artists and expand your collection.<br></b><br>
            Check out our artist's impressive works because IT'S TIME TO INVEST IN ART.</p></div>
    </div>  
<%- include('./partials/footer.ejs') %>
