<%- include('./partials/header.ejs') %>
    <div class="bucket">
        <div class="center"><h2 style="text-align: center;">Privacy Policy<br>We are formulating our privacy policy. It will be out soon.</h2>
        </div>
    </div>  
<%- include('./partials/footer.ejs') %>
